.header-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img{
  width: 60px;
  display: block;
}
.logo-title{
  text-decoration: none;
  color: #2b4ce2;
  margin-left: 10px;
}
.user-container{
  width: 20%;
}