.user-cart{
  display: flex;
  justify-content: space-evenly;
}
.cart-icon{
  width: 40px;
  color: #462be2;
}
.cart-number{
  position: absolute;
  margin: 0px auto;
}
.user-btn{
  padding: 8px 20px;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  background-color: #e8aa36;
  color: #fff;
}
.user-btn:hover{
  background-color: #cf972f;
  cursor: pointer;
}